<p>information works!</p>
<div class="carousel">
    <div class="slider-wrapper">
        <button id="prev-slide" class="slide-button material-symbols-rounded">chevron_left</button>
        <div class="image-list">
            <img src="https://thumbs.dreamstime.com/b/conference-planning-word-cloud-wordcloud-made-text-130386056.jpg" class="image-item" alt="conference">
            <img src="https://d2gg9evh47fn9z.cloudfront.net/1600px_COLOURBOX21051254.jpg" class="image-item" alt="project">
            <img src="https://th.bing.com/th/id/R.a4bb265523198bce11560c14947935ec?rik=CJqEzdtwTyYBCA&riu=http%3a%2f%2fjacklail.com%2fimages%2f123008wordle.jpg&ehk=WOnB8iCAnP2V89Xmi0eoIrgFLagS0iCSlP5Ip1Wmzn8%3d&risl=&pid=ImgRaw&r=0" class="d-block w-100" alt="news">
            <img src="https://cdn.firespring.com/images/9bcb7341-2db6-4e45-8728-5a99c0f28303.png" class="image-item" alt="event">
            <img src="https://i.ytimg.com/vi/B2Z1q5LIvZs/maxresdefault.jpg" class="image-item" alt="miscellaneous">
            <img src="https://thumbs.dreamstime.com/b/conference-planning-word-cloud-wordcloud-made-text-130386056.jpg" class="image-item" alt="conference">
            <img src="https://d2gg9evh47fn9z.cloudfront.net/1600px_COLOURBOX21051254.jpg" class="image-item" alt="project">
            <img src="https://th.bing.com/th/id/R.a4bb265523198bce11560c14947935ec?rik=CJqEzdtwTyYBCA&riu=http%3a%2f%2fjacklail.com%2fimages%2f123008wordle.jpg&ehk=WOnB8iCAnP2V89Xmi0eoIrgFLagS0iCSlP5Ip1Wmzn8%3d&risl=&pid=ImgRaw&r=0" class="d-block w-100" alt="news">
            <img src="https://cdn.firespring.com/images/9bcb7341-2db6-4e45-8728-5a99c0f28303.png" class="image-item" alt="event">
            <img src="https://i.ytimg.com/vi/B2Z1q5LIvZs/maxresdefault.jpg" class="image-item" alt="miscellaneous">
        </div>
        <button id="next-slide" class="slide-button material-symbols-rounded">chevron_right</button>
    </div>
    <div class="slider-scrollbar">
        <div class="scrollbar-track">
            <div class="scrollbar-thumb"></div>
        </div>
    </div>
</div>
