<body>
  <div class="div-1">
      <h1>
        Welcome to {{title}}
      </h1>
      <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar/EUB</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">About us</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Donate</a>
                      </li>
                  </ul>
                  <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
              </div>
          </div>
      </nav>
      <p></p>
      <div class="div-2" >
          <h2><b>Promouvoir la gestion durable des forêts, la conservation de la biodiversité et la reconnaissance des droits des peuples autochtones et des communautés locales en République démocratique du Congo.</b></h2>
      </div>
  </div>
  <header>
      <app-information></app-information>
  </header>
  <div class="div-3">
      <div class="first-slide">
          <img src="https://s.rfi.fr/media/display/fd6c9392-100a-11ea-8c7f-005056bf7c53/w:980/p:16x9/pepiniere%20ok_0.jpg" class="display-image" alt="reboisement">
          <div class="message-1">
              <h3>REBOISEMENT</h3>
          </div>
      </div>
      <div class="second-slide">
          <img src="https://s.rfi.fr/media/display/fd6c9392-100a-11ea-8c7f-005056bf7c53/w:980/p:16x9/pepiniere%20ok_0.jpg" class="display-image" alt="reboisement">
          <div class="message-2">
              <h3>ABORIGINAL POPULATION</h3>
          </div>
      </div>
      <div class="third-slide">
          <img src="https://s.rfi.fr/media/display/fd6c9392-100a-11ea-8c7f-005056bf7c53/w:980/p:16x9/pepiniere%20ok_0.jpg" class="display-image" alt="reboisement">
          <div class="message-3">
              <h3>BIODIVERSITY</h3>
          </div>
      </div>
  </div>
</body>

