<p>welcome works!</p>
<div class="div-3">
    <div class="first-slide">
      <img src="https://s.rfi.fr/media/display/fd6c9392-100a-11ea-8c7f-005056bf7c53/w:980/p:16x9/pepiniere%20ok_0.jpg" class="display-image" alt="reboisement">
      <div class="message-1">
            <h3>REBOISEMENT</h3>
      </div>
    </div>
    <div class="second-slide">
        <img src="https://s.rfi.fr/media/display/fd6c9392-100a-11ea-8c7f-005056bf7c53/w:980/p:16x9/pepiniere%20ok_0.jpg" class="display-image" alt="reboisement">
        <div class="message-2">
            <h3>ABORIGINAL POPULATION</h3>
        </div>
    </div>
    <div class="third-slide">
        <img src="https://s.rfi.fr/media/display/fd6c9392-100a-11ea-8c7f-005056bf7c53/w:980/p:16x9/pepiniere%20ok_0.jpg" class="display-image" alt="reboisement">
        <div class="message-3">
            <h3>BIODIVERSITY</h3>
        </div>
    </div>
</div>